@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-hex: #111940;
    --background-hex: #ffffff;
    --primaryBlue: rgb(15 23 42);
    --secondaryBlue: rgb(56 189 248);
  }
  
  body {
    color: var(--foreground-hex);
    background: var(--background-hex);
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oxanium), sans-serif;
  }
  
  p {
    font-family: var(--font-barlow), sans-serif;
  }
  